setuptools
nose
pyOpenSSL
ndg-httpsclient
pyasn1
requests
unicodecsv
youtube-dl
six
pydub
numpy
jupyter
pandas
matplotlib
plotly
scipy
sklearn
librosa
aubio
moviepy
pocketsphinx
speechrecognition
tornado
pathlib
tflearn
keras
h5py
tensorflow>=1.0.0
google-api-python-client
Pillow
scikits.talkbox
scikits.audiolab
git+git://github.com/hipstas/audio-tagging-toolkit.git
#pyAudioAnalysis
