setuptools
nose
pyOpenSSL
ndg-httpsclient
pyasn1
requests
youtube-dl
six
pydub
jupyter
pandas
matplotlib
plotly
scipy
sklearn
librosa
aubio
moviepy
pathlib
tflearn
keras
h5py
tensorflow
google-api-python-client
Pillow
scikits.talkbox
scikits.audiolab
bleach==1.5.0
git+git://github.com/hipstas/audio-tagging-toolkit.git
numpy
soundfile
