setuptools
nose
pyOpenSSL
numpy
ndg-httpsclient
pyasn1
requests
youtube-dl
six
pydub
jupyter
pandas
matplotlib
plotly
scipy
sklearn
librosa
aubio
moviepy
pathlib
bleach==1.5.0
tflearn
keras
h5py
tensorflow>=1.0.0
google-api-python-client
Pillow
scikits.talkbox
scikits.audiolab
git+git://github.com/hipstas/audio-tagging-toolkit.git
